<!DOCTYPE html>
<html 
class="light"
lang="en" th:fragment="parent(content, title, script)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Base Page</title>
    <link rel="stylesheet" th:href="@{/css/output.css}" />
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        /* Ensure the body doesn't have hidden content */
        body {
            margin: 0;
            
        }
        /* Add padding to main content to account for fixed navbar height */
        main#main-content {
            padding-top: 75px; /* Adjust based on your navbar height */
        }
    </style>
</head>
<body class="bg-gray-100 dark:bg-gray-900 ">
    <!-- Navbar -->
    <header th:insert="navbar :: navbar"></header>

    <!-- Main content -->
    <main id="main-content" class=" dark:text-white">
        <div th:insert="${content}">
            <p>Default main content</p>
        </div>
    </main>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    <script th:src="@{/js/sscript.js}"> </script>
    <div th:replace="${script}"></div>
 </body>

</html>
