<html lang="en" th:replace="~{base::parent(~{::#content}, 'Contact Page', ~{::#script})}" xmlns:th="http://www.thymeleaf.org">
<body>
    <!-- contact Page Content -->
    <div id="content">
    
        <h1>Welcome to the home Page</h1>
        <p>This is the home Page where we talk about our application.</p>
    </div>


    </div>

    <!-- contact Page Specific Scripts -->
    <div id="script">
        <script>
            console.log("contact Page Script Loaded");s
        </script>
    </div>

</body>
</html>
